table {
  margin-top: 50px;
  margin-bottom: 50px;
  border-collapse: collapse;
}

th {
  text-align: center;
  background-color: #2a2a2a;
  color: #fafafa;
}

td,
th {
  text-transform: capitalize;
  padding: 5px 80px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

tr:nth-child(even) {
  background-color: #d3d3d3;
}
